<tr>
  <td>
    <%= link_to favorite_list_path(favorite_list) do %>
      <%= favorite_list.name %>
    <% end %>
  </td>
  <td>
    <%= link_to favorite_list_path(favorite_list), method: :delete do %>
      <span><i class="fa fa-times fa-1px"></i></span>
    <% end %>
  </td>
</tr>