<div class="shoes-grid">
  <h1><%= t "views.searchs.search.result" %>:&nbsp<%= params[:search] %></h1>
  <ul>
    <div class="result-collection">
      <%= render partial: "result", collection: @results %>
    </div>
  </ul>
  <div class="pagination">
    <%= paginate @results, remote: true %>
  </div>
</div>