<div class="sub-cate">
	<div class=" top-nav rsidebar span_1_of_left">
    <h3 class="cate"><%= t "views.layouts.left_menu.categories" %></h3>
    <ul class="menu">
      <% @categories.each do |category| %>
        <li class="item1">
          <%= link_to category_path(category) do %>
            <%= truncate(category.name, length: 30, separator: " ") %>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
